@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Calc Service Demo</h1>
    <h2>@Html.ActionLink("Do Calculations", "Index", "Calc")</h2>
    <p>
        Source Code: <a href="https://github.com/daumie/dotnet-test-app">Simple Calculator using ASP.NET</a>
        <br />
        This simple web app demonstrates the following:
        <ul>
            <li>Building ASP.NET Core 3.0</li>
            <li>Unit Testing with xUnit.net</li>
        </ul>
    </p>
</div>
